@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply a custom font globally in a Tailwind CSS file */
@layer base {
  body {
    @apply font-body;
  }
  h1, h2, h3 {
    @apply font-heading;
  }
  p, span {
    @apply font-secondary;
  }
}

/* Custom Borders */
.custom-border {
  border: 8px solid #D58F51;
}

/* Smooth Transition Effects */
.hover-effect {
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}

/* Logout Button Hover Effect */
#logoutBtn:hover {
  @apply scale-110 brightness-125 shadow-lg;
  background: linear-gradient(90deg, #D56651, #A9AC81);
  transition: background 0.4s ease-in-out, transform 0.3s ease-in-out;
}

/* Custom Scrollbar */
@layer utilities {
  ::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-muted rounded-lg;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #f7320b, #bfc751);
    @apply rounded-lg;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #D58F51, #1b4742);
  }
}

@layer components {
  /* Reusable Button Style */
  .btn-animated {
    @apply px-6 py-3 text-white font-bold rounded-lg transition-all duration-500 ease-in-out transform hover:scale-110;
    background-size: 200% auto;
    animation: gradientAnimation 6s linear infinite;
  }

  .btn-gradient-1 {
    background-image: linear-gradient(90deg, #A9AC81, #D56651, #F0E2C7, #344240);
  }

  .btn-gradient-2 {
    background-image: linear-gradient(90deg, #84A8A4, #F0E2C7, #D56651, #A9AC81);
  }

  .btn-animated:hover {
    background-position: right center;
    transition: background 0.5s ease-in-out, filter 0.2s ease-in-out;
    filter: brightness(1.1);
  }
}

/* Keyframe animation for gradient movement */
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.active-nav {
  @apply text-secondary font-bold border-b-2 border-secondary;
}

